header{
  background-image: url('./assets/BG.svg');
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
h2{
  font-size: 5rem;
  font-weight: 800;
  margin-top: 5rem;
   text-align: center;
}
h3{
  font-size: 3.5rem;
  text-align: center;
  
}

.logo{
  width: 22rem;
  margin: 18rem 0;
}
.netflix{
  font-family: 'Gobold',sans-serif;
  color:#C40015;
  font-size: 4rem;
}
.movies{
  font-family: 'DM Sans',sans-serif;
  background: linear-gradient(90deg, #3C50F8, #C40015);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-input{
  width:65rem;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2.5rem;
  background-color:rgba(60, 80, 248,0.2);
  padding: 0 2rem;
  border-radius: 5px;

}
input{
  border:none;
  font-size: 1.6rem;
  background-color: transparent;
  color: #d8dae1;
  flex: 1;
  font-weight: 500;
  font-family: 'DM Sans';
}

input:focus{
  color:white;
  outline: none;
}
.search-icon{
  width:2rem;
}

main{
  width: 90%;
  max-width: 120rem;
  margin:0 auto;
  margin-bottom: 10rem;
}

.halo{
  width:90%;
  max-width: 150rem;
  margin: 0 auto;
  margin-top:15rem;
}
.halo-image{
  width:100%;
  object-fit: fill;
}

