*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #0F1014;
  margin: auto;
  color:white;
  padding-bottom: 10rem;
  font-family: 'DM Sans',sans-serif;
}

h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.2rem;
}

